/* global body padding */
html, body {
  height: 100vh;
}


body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}

#root{
  height: 100vh;
}

.card{
  box-shadow:   0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.a, .b, .c, .d, .e, .f {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.g,
.h {
  border-bottom: 0;
}

button[disabled]{
  cursor: not-allowed;
}

.ui.message {
  padding: 0.5rem 0.75rem;
  margin: 0.6em 0;
}

.blj {
  margin-bottom: 8px;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
  border-color: #28a745 !important;
}


